runpod==1.3.6
diffusers

# the docker container runs fine without any of the following:
#comfyui requirements:
#torch
#torchsde
#torchvision
#torchaudio
#einops
#transformers>=4.28.1
#tokenizers>=0.13.3
#sentencepiece
#safetensors>=0.4.2
#aiohttp
#pyyaml
#Pillow
#scipy
#tqdm
#psutil

#non essential comfyui dependencies:
#kornia>=0.7.1
#spandrel
#soundfile